# Build directories
/build/
/cmake-build-debug/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Object files and binaries
*.o
*.obj
*.so
*.a
*.out
*.exe

# Editor/IDE files
*.swp
*.DS_Store
*.vscode/
.idea/